.searchViewMain {
    height: 100vh;
    width: 100vw;

    .searchViewTop {
        width: 100vw;
    }
    .searchLoading{
        height: 94%;
        display: flex;
        justify-content: center;
    }
    .searchResult{
        height: 94%;
        overflow-y: scroll;
    }

    .van-nav-bar__title {
        width: 85vw;
        max-width: none;
    }

    .searchViewMain {
        width: 100vw;
        height: 100vh;
    }

    .van-search {
        padding-bottom: 0;
        padding-top: 0;
    }
}

