.topicMainContent {
    overflow-y: scroll;
    height: calc(100vh - 96px);
}

.placement-container {
    display: flex;
    justify-content: end;
}

.var-menu {
    margin-top: 3px;
    margin-right: 3%;
}


.itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.articleShow {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 3px;
}

.articleContent {
    width: 100vw;
    height: calc(100vh - 182px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.van-text-ellipsis {
    font-size: 17px;
}

.itemTitle {
    padding-left: 5px;
    font-family: 'DYH';
    text-align: left;
    margin-bottom: 7px;
}

.itemContent {
    text-align: left;
    padding-left: 5px;
}

.subtitleCss {
    display: flex;
    justify-content: space-between;
}

.itemUserName {
    text-align: left;
    padding-left: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: darkgrey;
}

.itemCreateTime {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-right: 5px;
    color: darkgrey;
}

.var-card__footer {
    display: flex;
    justify-content: space-between;
}


:root {
    --card-footer-padding: 0px 5px;
}


.van-grid-item :deep(.van-badge__wrapper) {
    display: flex;
    justify-content: space-around;
    width: 60%;
}


.van-grid-item :deep(.van-grid-item__content) {
    padding: 0;
}

.itemPopular {
    display: flex;
    justify-content: start; /* 子元素之间平均分配空间 */
    align-items: center; /* 垂直居中 */
    flex-wrap: nowrap; /* 防止换行 */
    width: 10%; /* 确保父容器占据全部可用宽度 */
}

.likeCss, .commentCss, .hotCss {
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    text-align: center; /* 确保文本在多行时也居中 */
    padding: 9%; /* 根据需要调整间距 */
    box-sizing: border-box; /* 确保padding不会增加元素的总宽度 */
    flex: 1; /* 让每个子元素尽可能地占用相等的空间 */
}

.likeCss {
    padding-left: 0;
}
